body {font-family: Impact, sans-serif;
background:pink ;
}
   .light {
    text-shadow:#f5c4ce 0 0 10px; /* Свечение красного цвета */
    color:#f06580;
   }

h1 {
  font-size:70px ;
}
h1 {
    text-align:center;
}
